.main {}

.list {    
    margin: 0;
    padding: 0;
    width: 1145px;
    list-style-type: none;    
    white-space: nowrap;    
    overflow-x: hidden;
    overflow-y: hidden;
}

.item {
    /* float: left; */
    display: inline-block;
    margin-right: 20px;
}