.button {
    all: unset;
    cursor: pointer;    
    background-color: #ded6c9;
    border-radius: 12px;
    padding: 20px 20px;
    transition: background-color .3s;    
}

.button:hover {
    background-color: #b48334;
}