.main {
    width: 215px;
    height: 236px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.image {
    width: auto;
    height: 100%;
}

.details {
    display: none
}

.main:hover .details {
    position: absolute;
    display: flex;
    flex-direction: column;    
    height: fit-content;
    width: calc(100% - 10px);
    bottom: 0px;
    background-color: rgba(169, 169, 169, 0.583);
    color: var(--primary-color);
    padding: 10px;
    gap: 5px
}

.details span {
    white-space: normal;
}